﻿@model ModelLibrary.AccountModel.AccountLedgerReport
@{
    ViewBag.Title = "DomSaleRegister";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    .wrapper {
        position: relative;
        overflow: auto;
        border: 1px solid black;
        white-space: nowrap;
    }

    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: #ececec;
    }

    .first-col {
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        left: 0px;
    }
</style>
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp;Domestic Sale Register List</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;background-color: #ececec;">
                @using (Html.BeginForm())
                {
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>From</label>
                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>To</label>
                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>PNR</label>
                                @Html.TextBoxFor(p => p.PnrNo, new { @class = "form-control", placeholder = "Enter PnrNo.." })
                            </div>
                            <div class="col-sm-3">
                                <label>Order Id</label>
                                @Html.TextBoxFor(p => p.OrderId, new { @class = "form-control", placeholder = "Enter OrderId.." })
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-3">
                                <label>Pax</label>
                                @Html.TextBoxFor(p => p.PaxName, new { @class = "form-control", placeholder = "Enter Pax Name.." })
                            </div>
                            <div class="col-sm-3">
                                <label>Ticket No.</label>
                                @Html.TextBoxFor(p => p.TicketNo, new { @class = "form-control", placeholder = "Enter TicketNo.." })
                            </div>
                            <div class="col-sm-3">
                                <label>Airline</label>
                                @Html.TextBoxFor(p => p.AirlinePNR, new { @class = "form-control", placeholder = "Enter Airline.." })
                            </div>
                            <div class="col-sm-3 hidden">
                                <label>AgencyName</label>
                                @Html.TextBoxFor(p => p.AgencyName, new { @class = "form-control", placeholder = "Enter AgencyName.." })
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top:24px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                <span class="btn btn-success form-control tempscss hidden" style="margin-top:24px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-dark form-control" style="cursor:pointer; margin-top:24px;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table" data-toggle="table">
                    <thead style="color: #131313;background: #ececec;">
                        <tr>
                            <th class="sticky-col first-col">ORDER ID</th>
                            <th>EASY ID</th>
                            <th>EASY TRANS NO.</th>
                            <th>AGENCY ID</th>
                            <th>AGENCY NAME</th>
                            <th>GDS PNR</th>
                            <th>AIRLINE PNR	</th>
                            <th>SECTOR</th>
                            <th>VC</th>
                            <th>PAX NAME</th>
                            <th>PAX TYPE</th>
                            <th>AIRLINE</th>
                            <th>TICKET NUMBER</th>
                            <th>BASE FARE</th>
                            <th>YQ</th>
                            <th>TAX</th>
                            <th>TRAN FEE</th>
                            <th>MGT FEE</th>
                            <th>DISCOUNT</th>
                            <th>TDS</th>
                            <th>TOTAL FARE</th>
                            <th>NET FARE</th>
                            <th>CREATED DATE</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        @if (Model.Totalcount > 0)
                        {
                            foreach (var item in Model.AccountLedgerReportList)
                            {
                                <tr>
                                    <td class="sticky-col first-col"><a href="#" style="color:red;font-weight:bold;">@item.OrderId (Invoice)</a></td>
                                    <td>@item.EasyID</td>
                                    <td>@item.EasyTransID</td>
                                    <td>@item.AgencyID</td>
                                    <td>@item.AgencyName</td>
                                    <td>@item.GdsPnr</td>
                                    <td>@item.AirLinePnr</td>
                                    <td>@item.Sector</td>
                                    <td>@item.VC</td>
                                    <td>@item.Title @item.FName @item.LName</td>
                                    <td>@item.PaxType</td>
                                    <td>@item.AirLine	</td>
                                    <td>@item.TicketNumber</td>
                                    <td>@item.BaseFare</td>
                                    <td>@item.YQ</td>
                                    <td>@item.TotalTax</td>
                                    <td>@item.TranFee</td>
                                    <td>@item.MgtFee</td>
                                    <td>@item.Discount</td>
                                    <td>@item.Tds</td>
                                    <td>@item.TotalFare</td>
                                    <td>@item.TotalAfterDis</td>
                                    <td>@item.CreateDate</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>