﻿@model ModelLibrary.AccountModel.AccountLedgerReport
@using richatravels.Models.Common
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IntInvoiceDetails</title>
    <link href="~/Content/css/loginpage/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-table.js"></script>
    <link href="~/Content/css/validation.css" rel="stylesheet" />
    <script src="~/Content/js/common.js"></script>
    <link href="~/Content/css/validation.css" rel="stylesheet" />
    <style>
        body {
            font-size: 12px !important;
        }

        p {
            margin: 0 0px !important;
            font-weight: normal;
            font-size: 13px;
        }

        .table-bordered td, .table-bordered th {
            border: 1px solid #000;
            border-right: 0px solid #fff !important;
        }

        .table-bordered {
            border: 1px solid #000 !important;
        }

        .spanWait {
            font-weight: normal !important;
            color: #2e2e2e;
        }

        .fontsize {
            font-size: 20px;
            font-family: sarif;
        }

        .colorg {
            background-color: #f9f9f9;
        }

        .fixed-table-container {
            border: 0px solid #ddd !important;
        }

        .fixed-table-footer {
            border-top: 0px solid #000 !important;
            display: none;
        }

        .table1 {
        }

        .btnsucces {
            margin-left: 26px;
        }

        .AmtNWord {
            font-size: 12px;
        }

        .searchbtn {
            height: 28px;
        }

        .Sechedcolr {
            color: #3f3f3f;
            font-weight: bold;
        }

        .fontStyle {
            font-family: sarif;
        }

        .ts {
            color: #3f3f3f;
            font-weight: 200;
        }

        #printable {
            display: none;
        }

        @@media print {
            #non-printable {
                display: none;
            }

            #printable {
                display: block;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <br />
            <div class="col-sm-12 form-group" style="margin-top:24px;box-shadow: 0px 0px 9px #ccc; padding: 12px;border-radius: 4px;">
                <div class="form-group" id="tblPrint">
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <th colspan="6">
                                <img src="~/Content/images/loginpage/logo_new.png" style="width:300px;margin-top: -18px;" />
                            </th>
                            <th colspan="6" style="border-left: 1px solid #fff;">
                                <div style="text-align:right;">
                                    <p style="margin-top:0 0px;"><b style="font-size: 28px;">@Model.COMPANYNAME</b></p>
                                    <p style="font-weight:200 ;font-size: 12px;font-family: sans-serif;">@Model.COMPANYADDRESS</p>
                                    <p style="font-weight:200 ;font-size: 12px;font-family: sans-serif;">Ph @Model.PHONE Fax : @Model.FAX</p>
                                    <p style="font-weight:200 ;font-size: 12px;font-family: sans-serif;"> Email: @Model.COMPANYEMAIL </p>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <p style="text-align:left;color: #000; font-weight: bold; text-transform: capitalize;">To,</p>
                                <p style="text-align:left;color: #000; font-weight: bold; text-transform: capitalize;">@Model.AgencyName</p>
                                <p style="text-align:left;color: #000; font-weight: bold; text-transform: capitalize;">@Model.AgencyAddress</p>
                                <p style="text-align:left;color: #000; font-weight: bold; text-transform: capitalize;">@Model.AgencyCity,@Model.AgencyZipcode,@Model.AgencyState</p>
                                <p style="text-align:left;color: #000; font-weight: bold; text-transform: capitalize;">@Model.AgencyCountry</p>
                            </td>
                            <td colspan="6">
                                <p style="text-align:left;color: #000; font-weight: bold; text-transform: capitalize;">Invoice No : @Model.OrderId</p>
                                <p style="text-align:left;color: #000; font-weight: bold; text-transform: capitalize;">Order ID : @Model.OrderId</p>
                                <p style="text-align:left;color: #000; font-weight: bold; text-transform: capitalize;">Created Date : @Model.CreateDate</p>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="12" class="text-center" style="background: #f1f1f1;color: #000;">Booking Description</th>
                        </tr>
                        <tr>
                            <th colspan="2">PAX NAME</th>
                            <th colspan="2">TICKET NO</th>
                            <th colspan="2">AIRLINE</th>
                            <th colspan="2">PNR</th>
                            <th colspan="2">TRAVEL DATE</th>
                            <th colspan="2">SECTORS</th>
                        </tr>
                        <tr height="50">
                            <td colspan="2">@Model.Title @Model.FName @Model.LName </td>
                            <td colspan="2">@Model.TicketNumber</td>
                            <td colspan="2">@Model.Aircode</td>
                            <td colspan="2">@Model.GdsPnr</td>
                            <td colspan="2">@Model.DepDate</td>
                            <td colspan="2">@Model.Sector</td>
                        </tr>
                        <tr>
                            <th colspan="12" class="text-center" style="background: #f1f1f1;color: #000;">Billing Description</th>
                        </tr>
                        <tr style="font-size: 15px;">
                            <th colspan="9" style="border-right: 1px solid #fff !important; text-align: right;">BASE RATE</th>
                            <th colspan="3" style="text-align: right;">@Model.BaseFare</th>
                        </tr>
                        <tr style="font-size: 15px;">
                            <th colspan="9" style="border-right: 1px solid #fff !important; text-align: right;">TAX</th>
                            <th colspan="3" style="text-align: right;">@Model.TotalTax</th>
                        </tr>
                        <tr style="font-size: 15px;">
                            <th colspan="9" style="border-right: 1px solid #fff !important; text-align: right;">Service Tax</th>
                            <th colspan="3" style="text-align: right;">@Model.ServiceTax</th>
                        </tr>
                        <tr style="font-size: 15px;">
                            <th colspan="9" style="border-right: 1px solid #fff !important; text-align: right;">Transaction Fee</th>
                            <th colspan="3" style="text-align: right;">@Model.TranFee</th>
                        </tr>
                        <tr style="font-size: 15px;">
                            <th colspan="9" style="border-right: 1px solid #fff !important; text-align: right;">Transaction Charge</th>
                            <th colspan="3" style="text-align: right;">
                                @if (Model.TransAmount == null)
                                {
                                    <span>0</span>
                                }
                                else
                                {
                                    @Model.TransAmount
                                }
                            </th>
                        </tr>
                        <tr style="font-size: 15px;">
                            <th colspan="9" style="border-right: 1px solid #fff !important; text-align: right;">Less Discount</th>
                            <th colspan="3" style="text-align: right;">@Model.Discount</th>
                        </tr>
                        <tr style="font-size: 15px;">
                            <th colspan="9" style="border-right: 1px solid #fff !important; text-align: right;">Less Cash Back</th>
                            <th colspan="3" style="text-align: right;">@Model.CashBack</th>
                        </tr>
                        <tr style="font-size: 15px;">
                            <th colspan="9" style="border-right: 1px solid #fff !important; text-align: right;">Add TDS</th>
                            <th colspan="3" style="text-align: right;">@Model.Tds</th>
                        </tr>
                        <tr>
                            <th colspan="9" style="border-right: 1px solid #fff !important; font-size: 15px;text-align: right;"> Grand Total</th>
                            <th colspan="3" style="font-size: 20px;color: red;text-align: right;">₹ @(Convert.ToDecimal(Model.BaseFare)+Convert.ToDecimal(Model.TotalTax))</th>
                        </tr>
                        @{
                            double NetCost;
                            if (!string.IsNullOrEmpty(Model.BaseFare) && !string.IsNullOrEmpty(Model.TotalTax))
                            {
                                NetCost = (Convert.ToInt64(Convert.ToDouble(Model.BaseFare) + Convert.ToDouble(Model.TotalTax)));

                            }
                            else
                            {
                                NetCost = (Convert.ToInt64(Convert.ToDouble(Model.TotalFare)));
                            }

                            var WordAmount = comon.ConvertNumbertoWords(Convert.ToInt64(NetCost));
                        }
                        <tr>
                            <th colspan="12" style="text-align: right;"><b>Amount In Word:</b> <span id="word"></span>&nbsp; @WordAmount only</th>
                        </tr>
                        <tr>
                            <td colspan="12">
                                <p style="color:#b1b0b0;"> CASH :&nbsp; Payment made to the cashier must be obtained in form of printed official receipt.</p>
                                <p style="color:#b1b0b0;"> CHEQUE :&nbsp; All Cheque/Demand Draft for payment of bill must be crossed "A/C payee only" and drawn in favour of "RICHA WORLD TRAVELS."</p>
                                <p style="color:#b1b0b0;"> LATE PAYMENT :&nbsp; Intrest of 24% per annum will be charged on all outstanding payments after due. </p>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="12" style="padding:7px;"><b style="font-size: 14px !important;font-size: 14px !important;font-weight: 300;font-family: sans-serif;">This is Computer Generated invoice.  No signature required</b> </th>
                        </tr>
                    </table>
                    <div class="col-sm-12 form-group emailbox hidden" style="border: 1px solid #ccc;" id="non-printable">
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-12">
                                <h4 class="text-center" style="font-size: 17px;color: #b50128;margin-top: 8px;">Send Mail</h4>
                            </div>
                            <div class="row col-sm-12">
                                <div class="col-sm-6 form-validation">
                                    <label>Email ID</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter email.." />
                                </div>
                                <div class="col-sm-3">
                                    <input type="submit" class="form-control btn btn-dark maincssemail" style="margin-top:30px;" onclick="return CheckEmailForm();" value="Send Mail" />
                                    <span class="btn btn-dark form-control tempscssemail hidden" style="margin-top: 30px;">Please wait.<i class="fa fa-spinner fa-spin"></i></span>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-danger form-control" style="margin-top:30px;" id="cancelemail">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 5px;" id="non-printable">
                        <div class="row">
                            <div class="col-sm-3">
                                <button class="btn btn-success form-control" id="sendmail"><span class="fa fa-envelope"></span> Email</button>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-info form-control" onclick="window.print();return false;"><span class="fa fa-print"></span> Print</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>
<script>
    $("#sendmail").click(function () {
        $(".emailbox").removeClass("hidden");
    });
    $("#cancelemail").click(function () {
        $(".emailbox").addClass("hidden");
    });
    function CheckEmailForm() {
        if (CheckBlankValidation('email')) return !1;
        if (CheckEmailValidatoin("email")) return !1;
        $('.maincssemail').addClass('hidden');
        $('.tempscssemail').removeClass('hidden');
    }
</script>
