﻿@model ModelLibrary.AccountModel.AccountLedgerReport
@{
    ViewBag.Title = "LedgerReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    .boxledger {
        border: 1px solid #ccc;
        padding: 6px;
        box-shadow: 0px 0px 4px #c3c3c3;
        border-radius: 4px;
    }

    .wrapper {
        position: relative;
        overflow: auto;
        border: 1px solid black;
        white-space: nowrap;
    }
    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: #ececec;
    }

    .first-col {
        width: 180px;
        min-width: 180px;
        max-width: 180px;
        left: 0px;
    }

    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: #ececec;
    }

    .first-col {
        width: 180px;
        min-width: 180px;
        max-width: 180px;
        left: 0px;
        text-align: center;
    }

    .second-col {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
        left: 0px;
        text-align: center;
    }

    .closingbalance {
        text-align: right;
        margin-top: 4px;
        margin-right: 12px;
        margin-bottom: -15px;
        font-size: 15px;
        color: red;
    }

    .pricecolr {
        font-size: 15px;
        font-family: monospace;
        font-weight: bold
    }

    .unpaidstatus {
        font-size: 13px;
        position: absolute;
        right: 10px;
        top: 54px;
        background: #f5ab06;
        padding: 1px;
        border-radius: 5px;
        color: #fff;
        width: 57px;
        text-align: center;
    }

    .paidstatus {
        font-size: 13px;
        position: absolute;
        right: 10px;
        top: 54px;
        background: green;
        padding: 1px;
        border-radius: 5px;
        color: #fff;
        width: 52px;
        text-align: center;
    }

    .debit {
        background: #fe0000;
        padding: 1px;
        border-radius: 5px;
        color: #fff !important;
        width: 57px;
        text-align: center !important;
        font-weight: bold;
    }

    .credit {
        background: #169f85;
        padding: 1px;
        border-radius: 5px;
        color: #fff !important;
        width: 57px;
        text-align: center !important;
        font-weight: bold;
    }

    .imglogo {
        padding: 1px;
        border-radius: 50%;
        border: 2px solid #4b5f71;
        width: 35px;
    }
</style>

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp;Ledger Report </h2>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-dark pull-right btn-sm" style="cursor:pointer;"><span class="fa fa-file-excel-o"></span> Export</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-sm-12 form-group" style="border: 1px solid #ccc; padding: 6px; background-color: #ececec;">
                @using (Html.BeginForm())
                {
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-12" style="padding: 5px;">
                                <a href="/account/ledgerreport" class="btn btn-info" style="margin-bottom: 1px;"><span class="fa fa-list"></span> All</a>
                                <a href="/account/ledgerreport?bookingtype=flight" class="btn btn-info" style="margin-bottom: 1px;"><span class="fa fa-plane"></span> Flight</a>
                                <a href="/account/ledgerreport?bookingtype=hotel" class="btn btn-info" style="margin-bottom: 1px;"><span class="fa fa-hotel"></span> Hotel</a>
                                <a href="/account/ledgerreport?bookingtype=bus" class="btn btn-info" style="margin-bottom: 1px;"> <span class="fa fa-credit-card"></span> Bus</a>
                                <a href="/account/ledgerreport?bookingtype=rail" class="btn btn-info" style="margin-bottom: 1px;"> <span class="fa fa-train"></span> Rail</a>
                                <a href="/account/ledgerreport?type=passbook" class="btn btn-info" style="margin-bottom: 1px;"> <span class="fa fa-address-card-o"></span> Passbook</a>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>From</label>
                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>To</label>
                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>Price</label>
                                @Html.TextBoxFor(p => p.Price, new { @class = "form-control", placeholder = "Serch by price", onkeypress = "return isNumberValidationPrevent(event);" })
                            </div>
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top:24px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                <span class="btn btn-success form-control tempscss hidden" style="margin-top:24px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                            </div>

                        </div>
                    </div>

                }
            </div>

            @if (string.IsNullOrEmpty(Model.Passbook))
            {
            if (Model.Totalcount > 0)
            {
                foreach (var item in Model.AccountLedgerReportList)
                {

                    <div class="col-sm-12 form-group boxledger">
                        <div class="form-group">
                            <div class="col-sm-12 form-group" style="border-bottom: 1px solid #ccc;">
                                <div class="col-sm-4">
                                    <label>Order No : <span style="color:red"><a href="@item.TicketcopyLink" data-toggle="tooltip" title="View Invoice" target="_blank" style="font-weight:bold;color:indianred">@item.InvoiceNo</a></span></label>
                                </div>
                                <div class="col-sm-4">
                                    <label style="color: #797676;">Closing Balance: <span>Rs @item.Aval_Balance</span></label>
                                </div>
                                <div class="col-sm-4">
                                    <label class="pull-right"><span>@item.CreateDate</span></label>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="col-sm-4">
                                    @if (item.BookingType.Trim() == "Payment Receipt")
                                    {
                                        <img src="~/Content/images/payRecipt.jpg" class="imglogo"> <span>@item.BookingType</span>
                                    }
                                    @if (item.BookingType.Trim() == "Journal Voucher")
                                    {
                                        <img src="~/Content/images/jenralvoucher.png" class="imglogo"> <span>@item.BookingType</span>
                                    }
                                    @if (item.BookingType.Trim() == "PG UPLOAD-CREDIT")
                                    {
                                        <img src="~/Content/images/payUpload.jpg" class="imglogo"> <span>@item.BookingType</span>
                                    }
                                    @if (!string.IsNullOrEmpty(item.TicketingCarrier) && item.BookingType != "Payment Receipt" && item.BookingType != "Journal Voucher" && item.BookingType != "PG UPLOAD-CREDIT")
                                    {
                                        if (!string.IsNullOrEmpty(item.TicketingCarrier.Trim()))
                                        {
                                            <img src="@item.LogoUrl" class="imglogo"> <span>@item.BookingType</span>
                                        }
                                        else
                                        {
                                            <img src="~/Content/images/NoImage.png" class="imglogo"> <span>@item.BookingType</span>
                                        }
                                    }
                                </div>
                                <div class="col-sm-4">

                                    @if (item.Credit == "0.00")
                                    {
                                        <p class="debit pull-right">Debit</p>
                                    }
                                    else
                                    {
                                        <p class="credit pull-right">Credit</p>
                                    }
                                </div>
                                <div class="col-sm-4 pull-right">
                                    @if (item.Credit == "0.00")
                                    {
                                        <p class="pull-right pricecolr">Rs <span class="fa fa-minus" style="color:red;font-size: 11px;"></span> @item.Debit</p>

                                    }
                                    else
                                    {
                                        <p class="pull-right pricecolr">Rs <span class="fa fa-plus" style="color:green;font-size: 11px;"></span> @item.Credit</p>

                                    }
                                    @if (item.PaidStatus == "True")
                                    {<span class="paidstatus">Paid</span> }
                                    else
                                    {<span class="unpaidstatus">Unpaid</span>}
                                </div>
                            </div>
                            <div class="col-sm-12" style="border-top: 1px solid #ccc; padding: 4px;">
                                <div class="col-sm-4">
                                    <label>PNR No : <span style="color:red"><a href="@item.InvoicecopyLink" data-toggle="tooltip" title="View Ticket Copy" style="font-weight:bold;color:indianred" target="_blank">@item.PnrNo</a></span></label>
                                </div>
                                <div class="col-sm-4">
                                    <label>
                                        Ticket No : @if (!string.IsNullOrEmpty(item.TicketNo))
                                        {<span>@item.TicketNo</span>}
                                        else
                                        {<span>---</span>}
                                    </label>
                                </div>
                                <div class="col-sm-4">
                                    <label>
                                        Air Code : @if (!string.IsNullOrEmpty(item.Aircode))
                                        {<span>@item.Aircode</span>}
                                        else
                                        {<span>---</span>}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-sm-12 form-group boxledger">
                    <div class="form-group">
                        <div class="col-sm-12 form-group">
                            <h4 class="text-danger text-center" style="margin-bottom: -7px;">No rocord found !..</h4>
                        </div>
                    </div>
                </div>
            }
            }
            else
            {
            <div class="table-responsive text-nowrap">
                <table class="table" data-toggle="table">
                    <thead style="color: #131313;background: #ececec;">
                        <tr class="text-center">
                            <th class="sticky-col first-col">ORDER NO (Invoice)</th>
                            <th class="text-center">PNR(TicketCopy)</th>
                            <th>AGENCY ID</th>
                            <th>AGENCY NAME</th>
                            <th>AIR CODE</th>
                            <th>TICKET NO</th>
                            <th>DR.</th>
                            <th>CR.</th>
                            <th>BALANCE</th>
                            <th>BOOKING TYPE</th>
                            <th>CREATED DATE</th>
                            <th>REMARK</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        @if (Model.Totalcount > 0)
                        {
                            foreach (var item in Model.AccountLedgerReportList)
                            {
                                <tr>
                                    <td><a href="@item.TicketcopyLink" target="_blank" style="font-weight:bold;color:indianred">@item.InvoiceNo</a></td>
                                    <td><a href="@item.InvoicecopyLink" style="font-weight:bold;color:indianred" target="_blank">@item.PnrNo</a></td>
                                    <td>@item.AgentID</td>
                                    <td>@item.AgencyName</td>
                                    <td>@item.Aircode</td>
                                    <td>@item.TicketNo</td>
                                    <td>@item.Debit</td>
                                    <td>@item.Credit</td>
                                    <td>@item.Aval_Balance</td>
                                    <td>@item.BookingType</td>
                                    <td>@item.CreateDate</td>
                                    <td>@item.Remark</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            }
        </div>
</div>

<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>

