﻿@model ModelLibrary.AccountModel.AccountLedgerReport
@{
    ViewBag.Title = "StaffTransaction";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    .wrapper {
        position: relative;
        overflow: auto;
        border: 1px solid black;
        white-space: nowrap;
    }

    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: #ececec;
    }

    .first-col {
        width: 180px;
        min-width: 180px;
        max-width: 180px;
        left: 0px;
    }
</style>
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp;Staff Transaction List</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;background-color: #ececec;">
                @using (Html.BeginForm())
                {
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>From</label>
                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>To</label>
                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top:24px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                <span class="btn btn-success form-control tempscss hidden" style="margin-top:24px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-dark form-control" style="cursor:pointer; margin-top:24px;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">

                        </div>
                    </div>
                }
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table" data-toggle="table">
                    <thead style="color: #131313;background: #ececec;">
                        <tr>                           
                            <th class="sticky-col first-col">ORDER ID</th>
                            <th>SERVICE TYPE</th>
                            <th>MODULE</th>
                            <th>TRANS. AMOUNT</th>
                            <th>BOOKEDBY</th>
                            <th>MOBILE</th>
                            <th>AGENCYID</th>
                            <th>REMARK</th>
                            <th>CREATED DATE</th>
                            <th>DEBIT</th>
                            <th>CREDIT</th>
                            <th>BALANCE</th>
                            <th>AGENT MOBILE</th>
                            <th>EMAIL</th>
                            <th>STAFFID</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        @if (Model.Totalcount > 0)
                        {
                            foreach (var item in Model.AccountLedgerReportList)
                            {
                                <tr>                                    
                                    <td class="sticky-col first-col"> <a href="#" style="color:red;font-weight:bold;">@item.OrderId</a></td>
                                    <td>@item.ServiceType</td>
                                    <td>@item.Module</td>
                                    <td>@item.TransAmount</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.CreatedBy))
                                        {
                                            <span>@item.CreatedBy</span>
                                        }
                                        else
                                        {
                                            <span>---</span>
                                        }
                                </td>
                                <td>@item.Mobile</td>
                                <td>@item.AgencyID</td>
                                <td>@item.Remark</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.Debit</td>
                                <td>@item.Credit</td>
                                <td>@item.AvalBal</td>
                                <td>@item.AgentMobile</td>
                                <td>@item.Email</td>
                                <td>@item.StaffId</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>



