﻿@model ModelLibrary.FlightModel.FlightPassengerDetail
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FlightPassengerDetail</title>
    <link href="~/Content/css/loginpage/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-table.js"></script>
    <style>
        .bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
            padding: 8px;
            background: #fff !important;
        }

        .table td, .table th {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #e9ecef;
            background: #fff !important;
        }
    </style>
</head>
<body>


    <div class="container">
        <div class="row">
            <div class="col-sm-12 form-group">
                <div class="col-sm-12">
                    <h3 class="text-center text-success">Ticket Details</h3>
                </div>
                <table class="table table-responsive" data-toggle="table">
                    <tr><th colspan="8" style="background: #3F51B5 !important;color: #fff;"><b>Agent Detail</b></th></tr>
                    <tr>
                        <td colspan="2">Agent ID</td>
                        <td colspan="2">@Model.AgentID</td>
                        <td colspan="2">Available Card Limit</td>
                        <td colspan="2">
                            @if (!string.IsNullOrEmpty(Model.AGCrd_Limit))
                            {
                                <span>@Model.AGCrd_Limit</span>
                            }
                            else
                            {
                                <span>---</span>
                            }
                        </td>
                    </tr>
                    <tr><th colspan="8" style="background: #3F51B5 !important;color: #fff;"><b> Booking Details</b></th></tr>
                    <tr>
                        <td colspan="2">Booking Type</td>
                        <td colspan="2">@Model.BookingType</td>
                        <td colspan="2">Travel Type</td>
                        <td colspan="2">@Model.TravelType</td>
                    </tr>
                    <tr>
                        <td colspan="2">From </td>
                        <td colspan="2">@Model.ProxyFrom</td>
                        <td colspan="2">To </td>
                        <td colspan="2">@Model.ProxyTo</td>
                    </tr>
                    <tr>
                        <td colspan="2">Departure Date </td>
                        <td colspan="2">@Model.DepartDate</td>
                        <td colspan="2">Departure Time </td>
                        <td colspan="2">@Model.DepartTime</td>
                    </tr>

                    @if (Model.TravelType == "Round Trip")
                    {
                        <tr>
                            <td colspan="2"> Return Date </td>
                            <td colspan="2">@Model.ReturnDate</td>
                            <td colspan="2"> Return Time </td>
                            <td colspan="2">@Model.ReturnTime</td>
                        </tr>
                    }

                    <tr><th colspan="8" style="background: #3F51B5 !important;color: #fff;"><b>No of Passenger</b></th></tr>
                    <tr>
                        <td colspan="2">Adult Count</td>
                        <td colspan="2">@Model.Adult</td>
                        <td colspan="1"> Child  Count </td>
                        <td colspan="1">@Model.Child</td>
                        <td colspan="1">Infant Count </td>
                        <td colspan="1">@Model.Infrant </td>
                    </tr>
                    <tr>
                        <th colspan="8" style="background: #3F51B5 !important;color: #fff;">Passenger Details</th>
                    </tr>
                    @if (Model.ChildList.Count > 0)
                    {
                        <tr>
                            <td colspan="8">
                                <table class="table-responsive table-condensed table-bordered">
                                    <tr><th colspan="8" style="padding: 5px;background: #ccc !important;">Adult Detials</th></tr>
                                    <tr>
                                        <th colspan="4" style="padding: 5px;">Adult Name</th>
                                        <th colspan="4" style="padding: 5px;">Adult Age</th>
                                    </tr>
                                    @foreach (var adult in Model.AdultList)
                                    {
                                        <tr>
                                            <td colspan="4" style="padding: 5px;">@adult.SirName @adult.FirstName @adult.LastName</td>
                                            <td colspan="4" style="padding: 5px;">@adult.Age</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                    @if (Model.ChildList.Count > 0)
                    {
                        <tr>
                            <td colspan="8">
                                <table class="table-responsive table-condensed table-bordered">
                                    <tr><th colspan="8" style="padding: 5px;background: #ccc !important;">Child Detials</th></tr>
                                    <tr>
                                        <th colspan="4" style="padding: 5px;">Child Name</th>
                                        <th colspan="4" style="padding: 5px;">Child Age</th>
                                    </tr>
                                    @foreach (var Child in Model.AdultList)
                                    {
                                        <tr>
                                            <td colspan="4" style="padding: 5px;">@Child.SirName @Child.FirstName @Child.LastName</td>
                                            <td colspan="4" style="padding: 5px;">@Child.Age</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                    @if (Model.InfrantList.Count > 0)
                    {
                        <tr>
                            <td colspan="8">
                                <table class="table-responsive table-condensed table-bordered">
                                    <tr><th colspan="8" style="padding: 5px;background: #ccc !important;">Infant Detials</th></tr>
                                    <tr>
                                        <th colspan="4" style="padding: 5px;">Infant Name</th>
                                        <th colspan="4" style="padding: 5px;">Infant Age</th>
                                    </tr>
                                    @foreach (var Infant in Model.AdultList)
                                    {
                                        <tr>
                                            <td colspan="4" style="padding: 5px;">@Infant.SirName @Infant.FirstName @Infant.LastName</td>
                                            <td colspan="4" style="padding: 5px;">@Infant.Age</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    }
                    <tr><th colspan="8" style="background: #3F51B5 !important;color: #fff;"><b>Other Details</b></th></tr>
                    <tr>
                        <td colspan="2">Class </td>
                        <td colspan="2">@Model.Class</td>
                        <td colspan="2">Airline </td>
                        <td colspan="2">@Model.Airlines</td>
                    </tr>
                    <tr>
                        <td colspan="2">Classes </td>
                        <td colspan="2">@Model.Classes</td>
                        <td colspan="2">Payment Mode </td>
                        <td colspan="2">@Model.PaymentMode</td>
                    </tr>
                    <tr>
                        <td colspan="4">Remark</td>
                        <td colspan="4">@Model.Remark</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</body>
</html>
