﻿@model ModelLibrary.FlightModel.FlightTicketReport
@{
    ViewBag.Title = "HoldPNRReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    .wrapper {
        position: relative;
        overflow: auto;
        border: 1px solid black;
        white-space: nowrap;
    }

    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: #ececec;
    }

    .first-col {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
        left: 0px;
    }
</style>
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp;Hold Pnr Report</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;background-color: #ececec;">
                @using (Html.BeginForm())
                {
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>From</label>
                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>To</label>
                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>PNR</label>
                                @Html.TextBoxFor(p => p.PNR, new { @class = "form-control", placeholder = "PNR.." })
                            </div>
                            <div class="col-sm-3">
                                <label>Order Id</label>
                                @Html.TextBoxFor(p => p.OrderId, new { @class = "form-control", placeholder = "Orderid.." })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Pax Name</label>
                                @Html.TextBoxFor(p => p.PaxName, new { @class = "form-control", placeholder = "Pax name.." })
                            </div>
                            <div class="col-sm-3">
                                <label>Airline</label>
                                @Html.TextBoxFor(p => p.AirlinePNR, new { @class = "form-control", placeholder = "TicketNo.." })
                            </div>
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top:26px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                <span class="btn btn-success form-control tempscss hidden" style="margin-top: 26px;margin-top:26px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-dark form-control" style="cursor:pointer;margin-top:26px;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table" data-toggle="table">
                    <thead style="color: #131313;background: #ececec;">
                        <tr>
                            <th class="sticky-col first-col">ORDER ID</th>
                            <th>PNR</th>
                            <th>SECTOR</th>
                            <th>STATUS</th>
                            <th>DURATION</th>
                            <th>TOTAL AMT</th>
                            <th>NET AMT</th>
                            <th>PAX NAME</th>
                            <th>MOBILE</th>
                            <th>EMAIL</th>
                            <th>DATE</th>
                            <th>PAYMENT MODE</th>
                            <th>PG CHARGES</th>
                            <th>HOLLD CHARGES</th>
                            <th>HOLLD BOOKING</th>
                            <th>ISSUE_HOLD_TICKET</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        @if (Model.Totalcount > 0)
                        {
                            foreach (var item in Model.FlightTicketReportList)
                            {
                                <tr>
                                    <td class="sticky-col first-col"><a href="#">@item.OrderId</a></td>
                                    <td>@item.GdsPnr</td>
                                    <td>@item.Sector</td>
                                    <td>@item.Status</td>
                                    <td>@item.Duration</td>
                                    <td>@item.TotalBookingCost</td>
                                    <td>@item.TotalBookingCost</td>
                                    <td>@item.PgTitle @item.PgFName @item.PgLName</td>
                                    <td>@item.PgMobile</td>
                                    <td>@item.PgEmail</td>
                                    <td>@item.CreateDate</td>
                                    <td>@item.PaymentMode</td>
                                    <td>@item.PGCharges</td>
                                    <td>@item.HoldCharge</td>
                                    <td>@item.IsHoldByAgent </td>
                                    <td>@item.HoldDateTime</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>

