﻿@model ModelLibrary.FlightModel.OfflineRequest
@{
    ViewBag.Title = "OfflineRequestList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    .wrapper {
        position: relative;
        overflow: auto;
        border: 1px solid black;
        white-space: nowrap;
    }

    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: #ececec;
    }

    .first-col {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
        left: 0px;
    }
</style>
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp;Proxy Booking Report</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;background-color: #ececec;">
                @using (Html.BeginForm())
                {
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>From</label>
                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommmanAllDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>To</label>
                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommmanAllDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>Trip Type</label>
                                @Html.DropDownListFor(model => model.Trip, new SelectList(new List<Object>{
                                         new { value = "" , text = "--Select--" },
                                        new { value = "D" , text = "Domestic" },
                                        new { value = "I" , text = "International"},
                                     }, "value", "text"), new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3">
                                <label>Status</label>
                                @Html.DropDownListFor(model => model.Status, new SelectList(new List<Object>{
                                        new { value = "" , text = "--Select--" },
                                       new { value = "Pending" , text = "Pending" },
                                       new { value = "Confirmed" , text = "Confirmed"},
                                    }, "value", "text"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top:26px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                <span class="btn btn-success form-control tempscss hidden" style="margin-top: 26px;margin-top:26px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-dark form-control" style="cursor:pointer;margin-top:26px;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table" data-toggle="table">
                    <thead style="color: #131313;background: #ececec;">
                        <tr>
                            <th class="sticky-col first-col">PROXYID</th>
                            <th>AGENTID</th>
                            <th>AG_NAME</th>
                            <th>BOOKINGTYPE</th>
                            <th>TRAVELTYPE</th>
                            <th>FROM</th>
                            <th>TO</th>
                            <th>DDATE</th>
                            <th>RDATE</th>
                            <th>CLASS</th>
                            <th>AIRLINES</th>
                            <th>CLASSES</th>
                            <th>PAYMENTMODE</th>
                            <th>REMARK</th>
                            <th>ALERT MESSAGE</th>
                            <th>STATUS</th>
                            <th>TRIP</th>
                            <th>EXECUTIVEID</th>
                            <th>REQUESTEDDATE</th>
                            <th>ACCEPTEDDATE</th>
                            <th>UPDATEDDATE</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        @if (Model.Totalcount > 0)
                        {
                            foreach (var item in Model.OfflineRequestList)
                            {
                                <tr>
                                    <td class="sticky-col first-col"><a href="FlightPassengerDetail?proxyid=@item.ProxyID" target="_blank" style="color:red;font-weight:bold;">@item.ProxyID (View)</a></td>
                                    <td>@item.AgentId</td>
                                    <td>@item.Agentname</td>
                                    <td>@item.BookingType</td>
                                    <td>@item.TravleType</td>
                                    <td>@item.ProxyFrom</td>
                                    <td>@item.ProxyTo</td>
                                    <td>@item.DepartDate</td>
                                    <td>@item.ReturnDate</td>
                                    <td>@item.ClassType</td>
                                    <td>@item.PreferedAirlines</td>
                                    <td>@item.Classes</td>
                                    <td>@item.PaymentMode</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.Remark))
                                        {
                                            <span>@item.Remark</span>
                                        }
                                        else
                                        {
                                            <span>---</span>
                                        }
                                    </td>
                                    <td>---</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.Status))
                                        {
                                            <span>@item.Status</span>
                                        }
                                        else
                                        {
                                            <span>---</span>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.TripType))
                                        {
                                            <span>@item.TripType</span>
                                        }
                                        else
                                        {
                                            <span>---</span>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.ExecID))
                                        {
                                            <span>@item.ExecID</span>
                                        }
                                        else
                                        {
                                            <span>---</span>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.requestDateTime))
                                        {
                                            <span>@item.requestDateTime</span>
                                        }
                                        else
                                        {
                                            <span>---</span>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.AcceptedDate))
                                        {
                                            <span>@item.AcceptedDate</span>
                                        }
                                        else
                                        {
                                            <span>---</span>
                                        }
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.UpdateDate))
                                        {
                                            <span>@item.UpdateDate</span>
                                        }
                                        else
                                        {
                                            <span>---</span>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>

