﻿@model ModelLibrary.FlightModel.FlightTicketReport
@{
    ViewBag.Title = "RefundReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    .wrapper {
        position: relative;
        overflow: auto;
        border: 1px solid black;
        white-space: nowrap;
    }

    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: #ececec;
    }

    .first-col {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
        left: 0px;
    }
</style>
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp;Refund Report List</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;background-color: #ececec;">
                @using (Html.BeginForm())
                {
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>From</label>
                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>To</label>
                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>PNR</label>
                                @Html.TextBoxFor(p => p.PNR, new { @class = "form-control", placeholder = "PNR.." })
                            </div>
                            <div class="col-sm-3">
                                <label>Order Id</label>
                                @Html.TextBoxFor(p => p.OrderId, new { @class = "form-control", placeholder = "Orderid.." })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Pax Name</label>
                                @Html.TextBoxFor(p => p.PaxName, new { @class = "form-control", placeholder = "Pax name.." })
                            </div>
                            <div class="col-sm-3">
                                <label>Ticket No.</label>
                                @Html.TextBoxFor(p => p.TicketNo, new { @class = "form-control", placeholder = "TicketNo.." })
                            </div>
                            <div class="col-sm-3">
                                <label>Airline</label>
                                @Html.TextBoxFor(p => p.AirlinePNR, new { @class = "form-control", placeholder = "TicketNo.." })
                            </div>
                            <div class="col-sm-3">
                                <label>Trip Type</label>
                                @Html.DropDownListFor(model => model.Trip, new SelectList(new List<Object>{
                                         new { value = "" , text = "--Select--" },
                                        new { value = "D" , text = "Domestic" },
                                        new { value = "I" , text = "International"},
                                     }, "value", "text"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-dark form-control" style="cursor:pointer;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table" data-toggle="table">
                    <thead style="color: #131313;background: #ececec;">
                        <tr>
                            <th class="sticky-col first-col">CREDIT NODE</th>
                            <th>CUSTOMER ID</th>
                            <th>AGENCY NAME</th>
                            <th>P TYPE</th>
                            <th>P NAME</th>
                            <th>PNR</th>
                            <th>TICKET NUMBER</th>
                            <th>AIRLINE</th>
                            <th>SECTOR	</th>
                            <th>DEPARTURE DATE</th>
                            <th>T FARE</th>
                            <th>FARE AFTER DISCOUNT</th>
                            <th>CANCELLATION CHARGE</th>
                            <th>SEVICE CHARGE</th>
                            <th>REFUNDED FARE</th>
                            <th>COMMENT</th>
                            <th>EXEC ID</th>
                            <th>EXEC REJECTED REMARK</th>
                            <th>EXEC UPDATED REMARK</th>
                            <th>REFUND STATUS</th>
                            <th>REQUESTED DATE</th>
                            <th>ACCEPTED DATE</th>
                            <th>UPDATED DATE</th>
                            <th>CANCEL STATUS</th>
                            <th>PAYMENTMODE</th>
                            <th>PG CHARGES</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        @if (Model.Totalcount > 0)
                        {
                            foreach (var item in Model.FlightTicketReportList)
                            {
                                <tr>
                                    <td class="sticky-col first-col"><a href="#">@item.RefundID</a></td>
                                    <td>@item.StaffId</td>
                                    <td>@item.AgencyName</td>
                                    <td>@item.PaxType</td>
                                    <td>@item.PgTitle @item.PgFName @item.PgLName</td>
                                    <td>@item.Pnr_Locator</td>
                                    <td>@item.TicketNo</td>
                                    <td>@item.VC</td>
                                    <td>@item.Sector</td>
                                    <td>@item.JourneyDate</td>
                                    <td>@item.TotalBookingCost</td>
                                    <td>@item.TotalAfterDis</td>
                                    <td>@item.CancellationCharge</td>
                                    <td>@item.Service_Tax</td>
                                    <td>@item.ResuFareDiff</td>
                                    <td>@item.RegardingCancel</td>
                                    <td>@item.ExecutiveId</td>
                                    <td>@item.RejectedRemark</td>
                                    <td>@item.Remark</td>
                                    <td>@item.Status</td>
                                    <td>@item.SubmitDate</td>
                                    <td>@item.AcceptDate</td>
                                    <td>@item.UpdateDate</td>
                                    <td>@item.CancelStatus</td>
                                    <td>@item.PaymentMode</td>
                                    <td>@item.PGCharges</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>