﻿@model ModelLibrary.FlightModel.FlightHeaderModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TiceketCopy</title>
    <link href="~/Content/css/loginpage/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link href="~/Content/css/bootstrap-table.css" rel="stylesheet" />*@
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    @*<script src="~/Content/js/bootstrap-table.js"></script>*@
    <link href="~/Content/css/validation.css" rel="stylesheet" />
    <script src="~/Content/js/common.js"></script>
    <style>
        .p_size {
            font-size: 16px;
            font-weight: bold;
            color: #09a9e5;
            margin-bottom: 3px;
            text-align: right;
        }

        .rowbox {
            border: 1px solid #ccc;
            margin-top: 15px;
        }
    </style>
    <style type="text/css">
        @@media print {
            .pri {
                background-color: #0f4da2 !important;
                -webkit-print-color-adjust: exact;
            }
        }

        @@media print {
            .pri font, .pri {
                color: white !important;
            }
        }

        @@media print {
            .pri2 {
                background-color: #f1f1f1 !important;
                -webkit-print-color-adjust: exact;
            }
        }

        #printable {
            display: none;
        }

        @@media print {
            #non-printable {
                display: none;
            }

            #printable {
                display: block;
            }
        }
    </style>
</head>
<body>
    @{
        Model.logoUrl = "/Content/images/CompanyLogo/" + Model.AgentId + "/" + (Model.AgentId + ".jpeg");
    }
    <div class="container">
        <div class="row" style="padding: 13px 11px; box-shadow: 0px 0px 5px #717171;border-radius: 4px;">
            <div class="col-sm-12 form-group">
                <div class="row">
                    <table style="width: 1115px;">
                        <tr style="border: 1px solid #ccc;">
                            <td colspan="5">
                                @if (!string.IsNullOrEmpty(Model.logoUrl))
                                {
                                    <img src="@Model.logoUrl" style="width: 175px;margin-top: 8px;height: 88px;" />
                                }
                                else
                                {
                                    <img src="~/Content/images/loginpage/logo_new.png" style="width: 175px;margin-top: 8px;height: 88px;" />
                                }
                            </td>
                            <td colspan="5">
                                <p class="p_size">24X7 Helpline</p>
                                <p class="p_size">@Model.AgencyList[0].Mobile/@Model.AgencyList[0].Mobile</p>
                                <p class="p_size" style="font-size: 25px;">e-Ticket</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="border-right: 1px solid #fff !important;">
                                <table style="width: 827px">
                                    <tr style="border:1px solid #000">
                                        <td style="padding: 5px;">Refrence ID : @Model.FltHeaderList[0].ReferenceNo</td>
                                        <td>Booking Date : @Model.FltHeaderList[0].CreateDate</td>
                                        <td></td>
                                    </tr>
                                    <tr style="border:1px solid #000">
                                        <td style="padding: 5px;">GDS PNR : @Model.FltHeaderList[0].GdsPnr</td>
                                        <td>OrderID : @Model.FltHeaderList[0].OrderId</td>
                                        <td>Status : <span style="color:green">@Model.FltHeaderList[0].Status</span></td>
                                    </tr>
                                    <tr style="border:1px solid #000">
                                        <td style="padding: 5px;">Trip Type :@(Model.FltHeaderList[0].TripType.ToLower()=="o"?"One Way":"Round Trip")</td>
                                        <td> Sector Name : @Model.SelectedFlightDetailsList[0].DepartureCityName (@Model.SelectedFlightDetailsList[0].DepAirportCode) to @Model.SelectedFlightDetailsList[0].ArrivalCityName (@Model.SelectedFlightDetailsList[0].ArrAirportCode)</ td >
                                        <td> Stop: @Model.SelectedFlightDetailsList[0].Stops</td>
                                    </tr>
                                </table>
                            </td>
                            <td colspan="3">
                                <table style="width:288px;">
                                    <tr>
                                        <td>
                                            <img src="~/Content/images/Bank/barcode.gif" style="width:288px;float: right;" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <table style="width: 1115px;border: 1px solid #000;margin-top: 5px;">
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="10" class="pri" style="background: #0f4da2;padding: 5px;color: #fff;">Passenger Contact Detials</th>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="3" style="padding: 4px;background: #efefef;">Name</th>
                                        <th colspan="2" style="padding: 4px;background: #efefef;">Mobile</th>
                                        <th colspan="3" style="padding: 4px;background: #efefef;">Email</th>
                                        <th colspan="2" style="padding: 4px;background: #efefef;">Booking Mode</th>
                                        @*<th colspan="2" style="padding: 4px;background: #efefef;">Endorsement</th>*@
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="padding: 4px;">@Model.PaxList[0].Name</td>
                                        <td colspan="2" style="padding: 4px;">@Model.FltHeaderList[0].PgMobile</td>
                                        <td colspan="3" style="padding: 4px;">@Model.FltHeaderList[0].PgEmail</td>
                                        <td colspan="2" style="padding: 4px;">online</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <table style="width: 1115px;border: 1px solid #000;margin-top: 5px;">
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="10" class="pri" style="background: #0f4da2;padding: 5px;color: #fff;">Traveller Detials</th>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="2" style="padding: 4px;background: #efefef;">Pax Name</th>
                                        <th colspan="1" style="padding: 4px;background: #efefef;">Type</th>
                                        <th colspan="1" style="padding: 4px;background: #efefef;">Meal Pref</th>
                                        <th colspan="1" style="padding: 4px;background: #efefef;">Seat Pref</th>
                                        <th colspan="1" style="padding: 4px;background: #efefef;">Stop</th>
                                        <th colspan="1" style="padding: 4px;background: #efefef;">FFN No</th>
                                        <th colspan="1" style="padding: 4px;background: #efefef;">Ticket No</th>
                                        <th colspan="1" style="padding: 4px;background: #efefef;">Airline Pnr</th>
                                        <th colspan="1" style="padding: 4px;background: #efefef;">Bag</th>
                                    </tr>
                                    @foreach (var item in Model.PaxList)
                                    {
                                        <tr>
                                            <td colspan="2" style="padding: 4px;">@item.Name</td>
                                            <td colspan="1" style="padding: 4px;">@item.PaxType</td>
                                            <td colspan="1" style="padding: 4px;">
                                                @(!string.IsNullOrEmpty(item.MealType.Trim())? item.MealType: "None")
                                            </td>
                                            <td colspan="1" style="padding: 4px;">
                                                @(!string.IsNullOrEmpty(item.SeatType.Trim())? item.SeatType: "None")
                                            </td>
                                            <td colspan="1" style="padding: 4px;">
                                                @Model.SelectedFlightDetailsList[0].Stops
                                            </td>
                                            <td colspan="1" style="padding: 4px;">
                                                @(!string.IsNullOrEmpty(item.FFNumber.Trim())? item.FFNumber: "None")
                                            </td>
                                            <td colspan="1" style="padding: 4px;">
                                                @(!string.IsNullOrEmpty(item.TicketNumber.Trim())? item.TicketNumber: "None")
                                            </td>
                                            <td colspan="1" style="padding: 4px;">
                                                <span style="font-weight:bold;color:#b50128">
                                                    @Model.FltHeaderList[0].AirlinePnr
                                                </span>
                                            </td>
                                            <td colspan="1" style="padding: 4px;">15kg</td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <table style="width: 1115px;border: 1px solid #000;margin-top: 5px;">
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="10" class="pri" style="background: #0f4da2;padding: 5px;color: #fff;">Filght Detials</th>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="3" style="padding: 4px;background: #efefef;">Flight Number</th>
                                        <th colspan="2" style="padding: 4px;background: #efefef;">Departure</th>
                                        <th colspan="2" style="padding: 4px;background: #efefef;">Arrivals</th>
                                        <th colspan="2" style="padding: 4px;background: #efefef;border-right: 1px solid #000;">Duration</th>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="padding: 4px;"><img src="@Model.FltDetailsList[0].LogoUrl" style="width:35px;" /><span style="padding-left: 5px;font-size: 15px;"> @Model.FltDetailsList[0].AirlineName (@Model.FltDetailsList[0].AirlineCode @Model.FltDetailsList[0].FltNumber)</span></td>
                                        <td colspan="2" style="padding: 4px;">
                                            <p style="margin-bottom: 3px;color: #b50128;font-weight: bold;">@Model.FltDetailsList[0].DepTime  @Model.SelectedFlightDetailsList[0].DepartureDate</p>
                                            <p style="margin-bottom: 3px;">@Model.FltDetailsList[0].DepAirName (@Model.FltDetailsList[0].DFrom) </p>
                                            <p style="margin-bottom: 3px;color: #b50128;font-weight: bold;">Terminal @Model.SelectedFlightDetailsList[0].DepartureTerminal</p>
                                        </td>
                                        <td colspan="2" style="padding: 4px;">
                                            <p style="margin-bottom: 3px;color: #b50128;font-weight: bold;">@Model.FltDetailsList[0].ArrTime @Model.SelectedFlightDetailsList[0].ArrivalDate</p>
                                            <p style="margin-bottom: 3px;">@Model.FltDetailsList[0].AirlineName (@Model.FltDetailsList[0].ATo) </p>
                                            <p style="margin-bottom: 3px;color: #b50128;font-weight: bold;">Terminal @Model.SelectedFlightDetailsList[0].ArrivalTerminal</p>
                                        </td>
                                        <td colspan="2" style="padding: 4px;border-right: 1px solid #000;">@Model.FltHeaderList[0].Duration</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <table style="width: 1115px;border: 1px solid #000;margin-top: 5px;" id="sidebar" class="hidefaretable">
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="10" class="pri" style="background: #0f4da2;padding: 5px;color: #fff;">Fare Detials</th>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="5" style="padding: 4px;">Base Fare </th>
                                        <th colspan="5" style="padding: 4px; text-align:right">@Model.FltFareDetailList[0].BaseFare</th>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="5" style="padding: 4px;">Surcharge & Tax Fare :</th>
                                        <th colspan="5" style="padding: 4px;text-align:right">@(Convert.ToDecimal(Model.FltFareDetailList[0].Tax)+ Convert.ToDecimal(Model.FltFareDetailList[0].ticketcopymarkupforTC))</th>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="5" style="padding: 4px;">Fuel Surcharge </th>
                                        <th colspan="5" style="padding: 4px; text-align:right">@Model.FltFareDetailList[0].Fuel</th>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="5" style="padding: 4px;">Supp.SGST </th>
                                        <th colspan="5" style="padding: 4px; text-align:right">0.00</th>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="5" style="padding: 4px;">Supp.CGST </th>
                                        <th colspan="5" style="padding: 4px;text-align:right">0.00</th>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="5" style="padding: 4px;"><span style="color:#b50128">Total</span> </th>
                                        <th colspan="5" style="padding: 4px; text-align:right"><span style="color:#b50128">@Model.FltFareDetailList[0].Total</span></th>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="5" style="padding: 4px;"><span style="color:#b50128">Grand Total</span> :</th>
                                        <th colspan="5" style="padding: 4px; text-align:right"><span style="color:#b50128">@Model.FltFareDetailList[0].Total</span></th>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="10" style="padding: 4px;"><span>Fare Type</span> : This is  <span style="color:green">@Model.FltFareDetailList[0].FareType Fare</span> Subject To Airline Penality</th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <table style="width: 1115px;border: 1px solid #000;margin-top: 5px;">
                                    <tr style="border-bottom: 1px solid #000;">
                                        <th colspan="10" class="pri" style="background: #0f4da2;padding: 5px;color: #fff;">Terms & Conditions</th>
                                    </tr>
                                    <tr>
                                        <td colspan="10" style="padding: 4px;">
                                            <ul style="list-style-image: url(https://RWT.co/Images/bullet.png);">
                                                <li style="font-size: 14px;font-family: sans-serif;color: #696969;">Guests are requested to carry their valid photo identification for all guests, including children.</li>
                                                <li style="font-size: 14px;font-family: sans-serif;color: #696969;">We recommend check-in at least 2 hours prior to departure.</li>
                                                <li style="font-size: 14px;font-family: sans-serif;color: #696969;">Boarding gates close 45 minutes prior to the scheduled time of departure. Please report at your departure gate at the indicated boarding time. Any passenger failing to report in time may be refused boarding privileges.</li>
                                                <li style="font-size: 14px;font-family: sans-serif;color: #696969;">Cancellations and Changes permitted more than two (2) hours prior to departure with payment of change fee and difference in fare if applicable only in working hours (10:00 am to 06:00 pm) except Sundays and Holidays.</li>
                                                <li style="font-size: 14px;font-family: sans-serif;color: #696969;">Flight schedules are subject to change and approval by authorities.<br></li>
                                                <li style="font-size: 14px;font-family: sans-serif;color: #696969;">Name Changes on a confirmed booking are strictly prohibited. Please ensure that the name given at the time of booking matches as mentioned on the traveling Guests valid photo ID Proof.<br>Travel Agent does not provide compensation for travel on other airlines, meals, lodging or ground transportation.</li>
                                                <li style="font-size: 14px;font-family: sans-serif;color: #696969;">Bookings made under the Armed Forces quota are non cancelable and non- changeable.</li>
                                                <li style="font-size: 14px;font-family: sans-serif;color: #696969;">Guests are advised to check their all flight details (including their Name, Flight numbers, Date of Departure, Sectors) before leaving the Agent Counter.</li>
                                                <li style="font-size: 14px;font-family: sans-serif;color: #696969;">Cancellation amount will be charged as per airline rule.</li>
                                                <li style="font-size: 14px;font-family: sans-serif;color: #696969;">Guests requiring wheelchair assistance, stretcher, Guests traveling with infants and unaccompanied minors need to be booked in advance since the inventory for these special service requests are limited per flight.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                @using (Html.BeginForm())
                                {
                                    <div class="col-sm-12 form-group chargesbox hidden" style="border: 1px solid #ccc;">
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-12">
                                                <h4 class="text-center" style="font-size: 17px;color: #b50128;margin-top: 8px;">NOTE:Charge amount should be per pax </h4>
                                            </div>
                                            <div class="row col-sm-12">
                                                <div class="col-sm-4 form-validation">
                                                    <label>Charge Type</label>
                                                    <select class="form-control" id="charge" name="charge">
                                                        <option value="">--Select--</option>
                                                        <option value="TC">Transaction Charge</option>
                                                        <option value="TAX">Tax</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4 form-validation">
                                                    <label>Charge Amount</label>
                                                    <input type="text" class="form-control" id="amount" maxlength="4" onkeypress="return isNumberValidationPrevent(event);" name="amount" placeholder="enter amount.." />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="submit" class="form-control btn btn-dark maincss" style="margin-top:30px;" onclick="return CheckForm();" value="Add Charge" />
                                                    <span class="btn btn-dark form-control tempscss hidden" style="margin-top: 30px;">Please wait.<i class="fa fa-spinner fa-spin"></i></span>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="btn btn-danger form-control" style="margin-top:30px;" id="cancel">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <div class="col-sm-12 form-group emailbox hidden" style="border: 1px solid #ccc;">
                                    <div class="col-sm-12 form-group">
                                        <div class="col-sm-12">
                                            <h4 class="text-center" style="font-size: 17px;color: #b50128;margin-top: 8px;">Send Mail</h4>
                                        </div>
                                        <div class="row col-sm-12">
                                            <div class="col-sm-6 form-validation">
                                                <label>Email ID</label>
                                                <input type="text" class="form-control" id="email" name="email" placeholder="Enter email.." />
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="submit" class="form-control btn btn-dark maincssemail" style="margin-top:30px;" onclick="return CheckEmailForm();" value="Send Mail" />
                                                <span class="btn btn-dark form-control tempscssemail hidden" style="margin-top: 30px;">Please wait.<i class="fa fa-spinner fa-spin"></i></span>
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-danger form-control" style="margin-top:30px;" id="cancelemail">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <table style="width: 1115px;border: 1px solid #000;margin-top: 5px;" id="non-printable">
                                    <tr>
                                        <td colspan="2"><button class="btn btn-success" id="Service">Service Charge(+)</button> </td>
                                        <td colspan="2"> <button class="btn btn-success" id="sendmail"><span class="fa fa-envelope"></span> Email</button></td>
                                        <td colspan="2"> <input type="button" class="btn btn-success" id="filterbtn" onclick="ShowHideDiv(this)" value="Hide Fare" /></td>
                                        <td colspan="2"> <button class="btn btn-success" onclick="window.print();return false;"><span class="fa fa-print"></span> Print</button></td>
                                        <td colspan="1"> <button class="btn btn-success">SMS</button></td>
                                        <td colspan="1"> <button class="btn btn-success">Home</button></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
<script>
    $("#Service").click(function () {
        $(".chargesbox").removeClass("hidden");
    });
    $("#cancel").click(function () {
        $(".chargesbox").addClass("hidden");
    });
    $("#sendmail").click(function () {
        $(".emailbox").removeClass("hidden");
    });
    $("#cancelemail").click(function () {
        $(".emailbox").addClass("hidden");
    });
    function CheckForm() {
        if (CheckDropDownBlankValidation("charge")) return !1;
        if (CheckBlankValidation("amount")) return !1;
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
    function CheckEmailForm() {
        if (CheckBlankValidation('email')) return !1;
        if (CheckEmailValidatoin("email")) return !1;
        $('.maincssemail').addClass('hidden');
        $('.tempscssemail').removeClass('hidden');
    }
</script>
<script>
    function ShowHideDiv(btnPassport) {
        var dvPassport = document.getElementById("sidebar");
        if (btnPassport.value == "Hide Fare") {
            $(".hidefaretable").addClass("hidden")
            btnPassport.value = "Show Fare";
        } else {
            btnPassport.value = "Show Fare";
            $(".hidefaretable").removeClass("hidden")
            btnPassport.value = "Hide Fare";
        }
    }
</script>