﻿@model ModelLibrary.SettingModel.MarkupModel
@{
    ViewBag.Title = "Agent_markupDom";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <style>
        .wrapper {
            position: relative;
            overflow: auto;
            border: 1px solid black;
            white-space: nowrap;
        }

        .sticky-col {
            position: sticky;
            position: -webkit-sticky;
            background-color: #ececec;
        }

        .first-col {
            width: 140px;
            min-width: 140px;
            max-width: 140px;
            left: 0px;
        }

        tr > th, tr > td {
            text-align: center !important;
        }
    </style>
}

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-plane"></i>&nbsp;Domestic Airline Markup</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-12">
                    @if (TempData["Msg"] != null)
                    {
                        <div class="alert alert-success" id="closeMessage">

                            <span>@TempData["Msg"]</span>
                        </div>
                    }

                </div>
            </div>
            <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;background-color: #ececec;">
                @using (Html.BeginForm())
                {
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Agent ID</label>
                                @Html.TextBoxFor(p => p.user_id, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-sm-3">
                                <label>Flights</label>
                                @Html.DropDownListFor(model => model.airline, new SelectList(new List<Object>{
                                        new { value = "ALL" , text = "ALL" },
                                       new { value = "AI" , text = "Air India" },
                                       new { value = "G8S" , text = "GoAir Special"},
                                          new { value = "AIS" , text = "Air India Special"},
                                             new { value = "SGS" , text = "Spice Jet Special"},
                                                new { value = "9W" , text = "Jet Airways"},
                                                new { value = "SG" , text = "Spice Jet"},
                                                new { value = "6E" , text = "Indigo"},
                                                new { value = "G8" , text = "GoAir"},
                                                new { value = "6ES" , text = "Indigo Special"},
                                                new { value = "UK" , text = "Air Vistara"},
                                                new { value = "UKS" , text = "Air Vistara Special"},
                                    }, "value", "text"), new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3">
                                <label>Markup</label>
                                @Html.TextBoxFor(p => p.Markup, new { @class = "form-control", placeholder = "0" })
                            </div>
                            <div class="col-sm-3">
                                <label>MarkUp Type</label>
                                @Html.DropDownListFor(model => model.markup_type, new SelectList(new List<Object>{
                                        new { value = "F" , text = "--Select--" },
                                       new { value = "F" , text = "Fixed" },
                                       new { value = "P" , text = "Percentage"},
                                    }, "value", "text"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="NEW ENTRY" />
                                <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="wrapper">
                <table class="table" data-toggle="table">
                    <thead style="color: #131313;background: #ececec;">
                        <tr>
                            <th>AIR LINE</th>
                            <th>MARKUP VALUE</th>
                            <th>MARKUP TYPE</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Totalcount > 0)
                        {
                            foreach (var item in Model.DomMarkupList)
                            {
                                <tr>
                                    <td>@item.airline</td>
                                    <td>@item.Markup</td>
                                    <td>@(item.markup_type.ToLower().Trim()=="f"?"Fixed":"Percentage")</td>
                                    <td>
                                        <a data-fancybox-type="iframe" data-toggle="tooltip" title="Edit" data-fancybox-href="/setting/edit-markup-dom?counter=@item.Counter&markup=@item.Markup&markuptype=@item.markup_type" class="btn btn-success btn-sm popupclassreload anchorlinkred"><span class="fa fa-edit" style="color:#fff!important"></span> </a>
                                        <a href="/setting/delete-markup-dom?counter=@item.Counter" onclick="javascript: return DeleteConfirm();" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox/fancyboxpopupopen.js"></script>

    <script>
        function DeleteConfirm() {
            return confirm('Are you sure, you want to delete the markup ?');
        }
        function CheckForm() {
            $('.maincss').addClass('hidden');
            $('.tempscss').removeClass('hidden');
        }
    </script>
}


