﻿@model ModelLibrary.SettingModel.StaffModel
@{
    ViewBag.Title = "EditExecutive";
    Layout = "~/Views/Shared/_PopupLayoutPage.cshtml";
}
<link href="~/Content/css/validation.css" rel="stylesheet" />
<script src="~/Content/js/common.js"></script>
<style>
    .box1 {
        width: 100%;
        margin-left: 0px;
        margin-top: -1px;
        padding: 5px;
        background: #fff !important;
    }
</style>
@using (Html.BeginForm())
{
    <div class="container" style="background:#fff;">
        <div class="row box1">
            <div class="col-sm-12 form-group" style="border: 1px solid #ccc;">
                @if (TempData["Msg"] != null)
                {
                    <div class="col-md-12" style="margin-top: 5px;padding: 20px;">
                        <div class="alert alert-success" id="closeMessage">

                            <span>@TempData["Msg"]</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-4">
                            <label>Staff Name</label>
                            @Html.TextBoxFor(p => p.Name, new { @class = "form-control", placeholder = "Enter Name.." })
                        </div>
                        <div class="col-sm-4">
                            <label>Staff Email</label>
                            @Html.TextBoxFor(p => p.Email, new { @class = "form-control", placeholder = "Enter email.." })
                        </div>
                        <div class="col-sm-4">
                            <label>Staff Mobile</label>
                            @Html.TextBoxFor(p => p.Mobile, new { @class = "form-control", onkeypress = "return isNumberValidationPrevent(event);", placeholder = "Enter mobile.." })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-4">
                            <label>Password</label>
                            @Html.TextBoxFor(p => p.Password, new { @class = "form-control", placeholder = "Enter password.." })
                        </div>
                        <div class="col-sm-8">
                            <label>Address</label>
                            @Html.TextBoxFor(p => p.Address, new { @class = "form-control", placeholder = "Enter address.." })
                        </div>
                    </div>
                    @*@Html.HiddenFor(p => p.UserId)
                    @Html.HiddenFor(p => p.AgencyId)*@
                    @Html.HiddenFor(p => p.Id)
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-success  maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SUBMIT" />
                            <span class="btn btn-success tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<script>
    function CheckForm() {
        if (CheckBlankValidation('Name')) return !1;
        if (CheckBlankValidation('Email')) return !1;
        if (CheckBlankValidation('Mobile')) return !1;
        if (CheckBlankValidation('Password')) return !1;
        if (CheckBlankValidation('Address')) return !1;
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>



