﻿@model ModelLibrary.SettingModel.StaffModel
@{
    ViewBag.Title = "NewExecutive";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/Checkbox.css.css" rel="stylesheet" />
    <link href="~/Content/css/validation.css" rel="stylesheet" />
    <script src="~/Content/js/common.js"></script>
    <style>
        .wrapper {
            position: relative;
            overflow: auto;
            border: 1px solid black;
            white-space: nowrap;
        }

        tr > th, tr > td {
            text-align: center !important;
        }

        .activecolr {
            color: green;
            font-weight: bold;
            font-size:22px;
        }

        .deactivecolr {
            color: red;
            font-weight: bold;
            font-size: 22px;
        }
    </style>
}
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-12">
                    <h2><i class="fa fa-user"></i>&nbsp;Add New Staff</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-12">
                    @if (TempData["Msg"] != null)
                    {
                        <div class="alert alert-success" id="closeMessage">

                            <span>@TempData["Msg"]</span>
                        </div>
                    }

                </div>
            </div>
            <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;background-color: #ececec;">
                @using (Html.BeginForm())
                {
                    <div class="row form-group">
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-3 form-validation">
                                <label>Name</label>
                                @Html.TextBoxFor(p => p.Name, new { @class = "form-control", placeholder = "Enter name.." })
                            </div>
                            <div class="col-sm-3 form-validation">
                                <label>Email</label>
                                @Html.TextBoxFor(p => p.Email, new { @class = "form-control", placeholder = "Enter email.." })
                            </div>
                            <div class="col-sm-3 form-validation">
                                <label>Mobile</label>
                                @Html.TextBoxFor(p => p.Mobile, new { @class = "form-control", onkeypress = "return isNumberValidationPrevent(event);", placeholder = "Enter mobile no.." })
                            </div>
                            <div class="col-sm-3 form-validation">
                                <label>Password</label>
                                @Html.TextBoxFor(p => p.Password, new { @class = "form-control", placeholder = "Enter password.." })
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-6 form-validation">
                                <label>Address</label>
                                @Html.TextBoxFor(p => p.Address, new { @class = "form-control", placeholder = "Enter address.." })
                            </div>
                            <div class="col-sm-6">
                                <label style="margin-left: 25px;">Active Service</label>
                                <div class="col-sm-12">
                                    <div class="col-sm-3">
                                        <label class="seeingo">
                                            Login
                                            @Html.CheckBoxFor(p => p.Status)
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="seeingo">
                                            Flight
                                            @Html.CheckBoxFor(p => p.Flight)
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="seeingo">
                                            Hotel
                                            @Html.CheckBoxFor(p => p.Hotel)
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="seeingo">
                                            Bus
                                            @Html.CheckBoxFor(p => p.Bus)
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SUBMIT" />
                                <span class="btn btn-success form-control tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="wrapper">
                <table class="table" data-toggle="table">
                    <thead style="color: #131313;background: #ececec;">
                        <tr>
                            <th>DEBIT / CREDIT</th>
                            <th>USER ID</th>
                            <th>PASSWORD</th>
                            <th>STAFF NAME</th>
                            <th>MOBILE</th>
                            <th>EMAIL</th>
                            <th>ADDRESS</th>
                            <th>LOGIN STATUS</th>
                            <th>FLIGHT</th>
                            <th>HOTEL</th>
                            <th>BUS</th>
                            <th>CHECK BALANCE</th>
                            <th>BALANCE</th>
                            <th>LAST TRANSDATE</th>
                            <th>CREATED DATE</th>
                            <th>CREATED BY</th>
                            <th>UPDATED DATE</th>
                            <th>UPDATED BY</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Totalcount > 0)
                        {
                            foreach (var item in Model.StaffList)
                            {
                                <tr>
                                    <td><a data-fancybox-type="iframe" data-toggle="tooltip" title="Credit / Debit" data-fancybox-href="/setting/credit-debit?UserId=@item.UserId&Id=@item.Id&Name=@item.Name&agencyid=@item.AgencyId&type=@item.UserType&balance=@item.CreditLimit&mobileno=@item.Mobile&Email=@item.Email" class="btn btn-info btn-sm popupclassreload anchorlinkred" style="color:#fff !important;">Credit / Debit </a></td>
                                    <td>@item.UserId</td>
                                    <td>@item.Password</td>
                                    <td>@item.Name</td>
                                    <td>@item.Mobile</td>
                                    <td>@item.Email</td>
                                    <td>@item.Address</td>
                                    <td>
                                        @if (item.sStatus.ToString() == "ACTIVE")
                                        {
                                            <span class="fa fa-check activecolr"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-remove deactivecolr"></span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.sFlight.ToString() == "ACTIVE")
                                        {
                                            <span class="fa fa-check activecolr"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-remove deactivecolr"></span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.sHotel.ToString() == "ACTIVE")
                                        {
                                            <span class="fa fa-check activecolr"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-remove deactivecolr"></span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.sBus.ToString() == "ACTIVE")
                                        {
                                            <span class="fa fa-check activecolr"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-remove deactivecolr"></span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.CheckBalance.ToLower() == "true")
                                        {
                                            <span class="fa fa-check activecolr"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-remove deactivecolr"></span>
                                        }
                                    </td>
                                    <td>@item.CreditLimit</td>
                                    <td>@item.CreditLimitTrnsDate</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.UpdatedDate</td>
                                    <td>@item.UpdatedBy</td>
                                    <td><a data-fancybox-type="iframe" data-toggle="tooltip" title="Update" data-fancybox-href="/setting/edit-satff?UserId=@item.UserId&Id=@item.Id&agencyid=@item.AgencyId&Name=@item.Name&mobileno=@item.Mobile&Email=@item.Email&address=@item.Address&password=@item.Password&status=@item.Status&flight=@item.Flight&hotel=@item.Hotel&bus=@item.Bus&rail=@item.Rail" class="btn btn-warning btn-sm popupclassreload anchorlinkred" style="color:#fff !important;">Edit</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox/fancyboxpopupopen.js"></script>

    <script>
        function DeleteConfirm() {
            return confirm('Are you sure, you want to delete the Staff ?');
        }
        function CheckForm() {
            if (CheckBlankValidation('Name')) return !1;
            if (CheckBlankValidation('Email')) return !1;
            if (CheckEmailValidatoin("Email")) return !1;
            if (CheckBlankValidation('Mobile')) return !1;
            if (CheckBlankValidation('Password')) return !1;
            if (CheckBlankValidation('Address')) return !1;
            $('.maincss').addClass('hidden');
            $('.tempscss').removeClass('hidden');
        }
    </script>
}


