﻿@model ModelLibrary.SettingModel.StaffModel
@{
    ViewBag.Title = "StaffCreditDebit";
    Layout = "~/Views/Shared/_PopupLayoutPage.cshtml";
}
<link href="~/Content/css/validation.css" rel="stylesheet" />
<script src="~/Content/js/common.js"></script>
<style>
    .box1 {
        width: 100%;
        margin-left: 0px;
        margin-top: -1px;
        padding: 5px;
        background: #fff !important;
    }
</style>
@using (Html.BeginForm())
{
    <div class="container" style="background:#fff;">
        <div class="row box1">
            <div class="col-sm-12 form-group" style="border: 1px solid #ccc;">
                @if (TempData["Msg"] != null)
                {
                    <div class="col-md-12" style="margin-top: 5px;padding: 20px;">
                        <div class="alert alert-success" id="closeMessage">

                            <span>@TempData["Msg"]</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-6">
                            <label>User : <span>@Model.UserId</span></label>
                        </div>
                        <div class="col-sm-6">
                            <label>Name : <span>@Model.Name</span></label>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-6">
                            <label>AgencyID : <span>@Model.AgencyId</span></label>
                        </div>
                        <div class="col-sm-6">
                            <label>Type : <span>@Model.RoleType</span></label>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-6">
                            <label>Balance: <span>@Model.CreditLimit</span></label>
                        </div>
                        <div class="col-sm-6">
                            <label>Email :<span>@Model.Email</span></label>
                        </div>
                    </div>
                    @Html.HiddenFor(p => p.UserId)
                    @Html.HiddenFor(p => p.AgencyId)
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-2">
                            <label>Remark :</label>
                        </div>
                        <div class="col-sm-10 form-validation">
                            @Html.TextAreaFor(p => p.Remarks, new { @class = "form-control", placeholder = "Enter remakrs.." })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-2">
                            <label>Amount :</label>
                        </div>
                        <div class="col-sm-4 form-validation">
                            @Html.TextBoxFor(p => p.Amount, new { @class = "form-control", onkeypress = "return isNumberValidationPrevent(event);", placeholder = "Enter amount.." })
                        </div>
                        <div class="col-sm-2">
                            <label>Trans Type :</label>
                        </div>
                        <div class="col-sm-4 form-validation">
                            @Html.DropDownListFor(model => model.TransType, new SelectList(new List<Object>{
                                         new { value = "" , text = "Select One"},
                                            new { value = "CREDIT" , text = "Credit"},
                                            new { value = "DEBIT" , text = "Debit"},
                                              }, "value", "text"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-success  maincss" style="cursor:pointer;" onclick="return CheckForm()" value="SUBMIT" />
                            <span class="btn btn-success tempscss hidden">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

<script>
    function CheckForm() {
        if (CheckBlankValidation('Remarks')) return !1;
        if (CheckBlankValidation('Amount')) return !1;
        if (CheckDropDownBlankValidation('TransType')) return !1;
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>