﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backend Section</title>
    <link href="~/Content/css/loginpage/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
    <link href="~/Content/css/validation.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap-table.js"></script>
    <style>
        .ed-home {
        }

        .com-fir-sp-top {
        }

        .ed-top {
            background: #2A3F54;
            border-bottom: 1px solid #e0e0e0;
        }

        .ed-com-t1-left {
        }

            .ed-com-t1-left ul {
                margin-bottom: 0px;
            }

                .ed-com-t1-left ul li {
                    float: left;
                    display: inline-block;
                }

                    .ed-com-t1-left ul li a {
                        color: #7a8088;
                        padding: 5px 14px;
                        line-height: 34px;
                        /*border-right: 1px solid #e7ebef;*/
                        font-size: 14.5px;
                    }

        .ed-com-t1-right {
            float: right;
        }

            .ed-com-t1-right ul {
            }

                .ed-com-t1-right ul li {
                    float: left;
                    display: inline-block;
                }

                    .ed-com-t1-right ul li a {
                        color: #fff;
                        padding: 7px 12px;
                        line-height: 34px;
                        font-size: 12px;
                    }

                    .ed-com-t1-right ul li:nth-child(1) a {
                        background: #f4364f;
                        background: linear-gradient(to bottom,#f4364f,#dc2039);
                    }

                    .ed-com-t1-right ul li:nth-child(2) a {
                        background: #2d5d73;
                    }
    </style>
    @RenderSection("header", false)
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @{
                richatravels.Models.Account.AgencyLoginSession lu = new richatravels.Models.Account.AgencyLoginSession();
                if (!richatravels.Service.AccountService.IsAgencyLogin(ref lu))
                {
                    if (richatravels.Service.AccountService.LogoutBackendLogin())
                    {
                        Response.Redirect("/");
                    }
                }

                <div class="col-md-3 left_col menu_fixed mCustomScrollbar _mCS_1 mCS-autoHide" style="overflow: visible;">
                    <div class="left_col scroll-view">

                        <div class="profile clearfix">
                            <div class="profile_pic">
                                @{
                                    lu.Image_Url = "/Content/images/CompanyLogo/" + lu.User_Id + "/" + (lu.User_Id + ".jpeg");
                                }
                                <img src="@lu.Image_Url" alt="..." class="img-circle profile_img mCS_img_loaded">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>@lu.FName</h2>
                            </div>
                        </div>
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section" style="border-bottom:1px solid #ccc;">
                                <ul class="nav side-menu">
                                    <li>
                                        <a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-plane fa-lg"></i> Flight <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/FlightReport/TicketReport">Ticket Report</a></li>
                                            <li><a href="#">Travel Calendar</a></li>
                                            <li><a href="/FlightReport/RefundReport">Refund Report</a></li>
                                            <li><a href="/FlightReport/ReissuesReport">Reissue Report</a></li>
                                            <li><a href="/FlightReport/HoldPNRReport">Hold Pnr Report</a></li>
                                            <li><a href="/FlightReport/TicketStatusReport">Ticket Status Report</a></li>
                                            <li><a href="#">Import PNR</a></li>
                                            <li><a href="/FlightReport/OfflineRequest">Offline Request</a></li>
                                            <li><a href="/FlightReport/OfflineRequestList">Offline Status</a></li>
                                        </ul>
                                    </li>
                                    @*<li>
                                            <a><i class="fa fa-hotel fa-lg"></i> Hotel <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="#">Hotel Booking History</a></li>
                                                <li><a href="#">Hotel Sale Register</a></li>
                                                <li><a href="#">Hotel refund Report</a></li>
                                                <li><a href="#">Hotel Rejected Report</a></li>
                                            </ul>
                                        </li>*@
                                    @*<li>
                                            <a><i class="fa fa-train fa-lg"></i> Rail <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="#">Rail Booking History</a></li>
                                                <li><a href="#">Rail Sale Register</a></li>
                                                <li><a href="#">Rail Pending Report</a></li>
                                                <li><a href="#">Rail Refund Report</a></li>
                                                <li><a href="#">Rail Rejected Report</a></li>
                                            </ul>
                                        </li>*@
                                    <li>
                                        <a><i class="fa fa-calculator fa-lg"></i> Accounts <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/Account/LedgerReport">Ledger</a></li>
                                            <li><a href="/Account/LedgerReport">Ledger New</a></li>
                                            <li><a href="/Account/StaffTransaction">Staff Transaction</a></li>
                                            <li><a href="/Account/DomSaleRegister">Dom. Sale Register</a></li>
                                            <li><a href="/Account/IntlSaleRegister">Intl. Sale Register</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-google-wallet fa-lg"></i> Wallet <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/Wallet/UploadRequest">Upload Request</a></li>
                                            <li><a href="/Wallet/UploadRequestStatus">Upload Status</a></li>
                                            <li><a href="/Wallet/CashInFlow">CashInFlow Report</a></li>
                                            <li><a href="#">Wallet Top-Up</a></li>
                                            <li><a href="/Wallet/Bankdetails">Bank Details</a></li>
                                            @*<li><a href="/Report/Distr/DepositeOffice.aspx">Deposite Office</a></li>*@
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-upload fa-lg"></i> Upload <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/Wallet/UploadRequest">Agent Upload Request</a></li>
                                            @*<li><a href="#">Create Group Type</a></li>
                                            <li><a href="#">Commission Master</a></li>                                          
                                            <li><a href="#">Deposite Office</a></li>*@
                                            <li><a href="/upload/add-bank">Add Bank Details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-cog fa-lg"></i> Setting <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/setting/agent-markup-dom">Dom. Airline Markup</a></li>
                                            <li><a href="/setting/agent-markup-int">Intl. Airline Markup</a></li>
                                            <li><a href="/setting/NewExecutive">Add Staff</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/Account/AgentProfile"><i class="fa fa-user fa-lg"></i> Profile</a>
                                    </li>
                                    @*<li>
                                            <a href="/backend-dashboard"><i class="fa fa-users fa-lg"></i> Users</a>
                                        </li>*@
                                </ul>
                            </div>
                            <div class="menu_section">
                                <div style="border-bottom:1px solid #ccc;">
                                    <p class="dascontent">Sales Support :</p>
                                    <p class="dascontent">Mr. Abc Xyz</p>
                                </div>
                                <div style="border-bottom:1px solid #ccc;margin-top: 15px;">
                                    <p class="dascontent">Contact  :</p>
                                    <p class="dascontent">+91 79 4910 9999</p>
                                </div>
                                <div style="margin-top: 15px;">
                                    <p class="dascontent">Email Id :</p>
                                    <p class="dascontent">sales@richatravels.com</p>
                                </div>
                            </div>
                        </div>
                        <!-- /sidebar menu -->
                    </div>
                </div>

                <div class="top_nav">
                    <div class="nav_menu">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars" style="color:#fff;"></i></a>
                        </div>
                        <nav class="nav navbar-nav">
                            <ul class=" navbar-right">
                                <li class="nav-item dropdown open" style="padding-left: 15px;">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                        <img src="~/Content/images/user.png" alt="">
                                    </a>
                                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown" style="left: 30px!important;width: 160px!important;">
                                        <a class="dropdown-item" href="/Account/AgentProfile" style="border-bottom: 1px solid #ccc;"> Profile</a>
                                        @*<a class="dropdown-item" href="javascript:;">
                                                <span class="badge bg-red pull-right">50%</span>
                                                <span>Settings</span>
                                            </a>
                                            <a class="dropdown-item" href="javascript:;">Help</a>*@
                                        <span class="dropdown-item" style="cursor:pointer;" onclick="Logout();"><i class="fa fa-sign-out pull-right"></i> Log Out</span>
                                    </div>
                                </li>

                                <li role="presentation" class="nav-item dropdown open" style="color:#fff;">
                                    Balance: <span id="blc" style=" display: inline;"> @lu.Balance/-</span>&nbsp;|&nbsp;
                                    Credit Limit:  <span id="CrdLimit"> @lu.Crd_Limit/-</span>&nbsp;|&nbsp;
                                    Due: <span id="DueAmt"> @lu.DueAmount/-</span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="right_col" role="main">
                    <div class="row SaurabhSuman subformstart">
                        @RenderBody()
                    </div>
                </div>

                <button type="button" class="btn btn-info btn-lg successmessage hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#SuccessMsg"></button>
                <div class="modal fade" id="SuccessMsg" role="dialog">
                    <div class="modal-dialog modal-md" style="margin:15% auto!important;">
                        <!-- Modal content-->
                        <div class="modal-content" style="text-align: center;border-radius: 5px !important;">
                            <div class="modal-header" style="padding: 12px;">
                                <h5 class="modal-title succmodelheading"></h5>
                            </div>
                            <div class="modal-body" style="padding-left:20px!important;">
                                <h6 class="succmodelcontent"></h6>
                            </div>
                            <div class="modal-footer" id="CommonFooterSection">
                                <button type="button" class="btn btn-danger" id="ModelPoupDismiss" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="text-right">
                        @*Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>*@
                        Krishna Kant
                    </div>
                    <div class="clearfix"></div>
                </footer>
            }
        </div>
    </div>

    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/custom.min.js"></script>
    <link href="~/Content/css/summernote.css" rel="stylesheet" />
    <script src="~/Content/js/summernote.js"></script>
    <script src="~/Content/js/common.js"></script>
    <script>
        $('.summernote').summernote({
            height: 300
        });

        $('.summernote1').summernote({
            height: 200
        });

    </script>
    @RenderSection("footer", false)
</body>
</html>
