﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<script src="~/Content/js/jquery.min.js"></script>*@
    <link href="~/Content/css/loginpage/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
    <link href="~/Content/css/validation.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap-table.js"></script>

    <style>
        .heading {
            text-align: center;
            color: red;
            font-size: 20px;
            border-bottom: 1px solid #ccc;
            padding: 3px 2px 7px;
        }

        .marginbox {
            border: 1px solid #ccc;
            padding: 5px;
            margin-top: 8px;
        }

        .modelHed {
            padding: 4px !important;
            font-size: 19px;
            color: #fbfbfb;
            background: #8c8c8c;
        }

        .table-bordered {
            border: 1px solid #ddd;
        }

        .tablehead {
            background-color: #f3dc56;
        }

        .thcolr {
            border: 1px solid #999 !important;
            background: #e2dfdf;
            text-align: center;
        }

        .tdborder {
            border: 1px solid #999 !important;
            text-align: center;
        }

        .table thead tr th {
            font-size: 14px;
            font-weight: 600;
        }
    </style>
    @RenderSection("header", false)
</head>
<body>
    @RenderBody()
    @RenderSection("footer", false)
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/custom.min.js"></script>
    <script src="~/Content/js/common.js"></script>
</body>
</html>
