﻿@model ModelLibrary.WalletModel.BankModel
@{
    ViewBag.Title = "AddEditbankList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/Checkbox.css.css" rel="stylesheet" />
    <link href="~/Content/css/validation.css" rel="stylesheet" />
    <script src="~/Content/js/common.js"></script>
    <style>
        .wrapper {
            position: relative;
            overflow: auto;
            border: 1px solid black;
            white-space: nowrap;
        }

        tr > th, tr > td {
            text-align: center !important;
        }

        .activecolr {
            color: green;
            font-weight: bold;
            font-size: 22px;
        }

        .deactivecolr {
            color: red;
            font-weight: bold;
            font-size: 22px;
        }
    </style>
}
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-12">
                    <h2><i class="fa fa-bank"></i>&nbsp;Add Bank Details</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-12">
                    @if (TempData["Msg"] != null)
                    {
                        <div class="alert alert-success" id="closeMessage">

                            <span>@TempData["Msg"]</span>
                        </div>
                    }

                </div>
            </div>
            <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;background-color: #ececec;">
                @using (Html.BeginForm())
                {
                    <div class="row form-group">
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-3 form-validation">
                                <label>Bank Name</label>
                                @Html.TextBoxFor(p => p.BankName, new { @class = "form-control", placeholder = "Enter bank name.." })
                            </div>
                            <div class="col-sm-3 form-validation">
                                <label>Branch Name</label>
                                @Html.TextBoxFor(p => p.BranchName, new { @class = "form-control", placeholder = "Enter branch name.." })
                            </div>
                            <div class="col-sm-3 form-validation">
                                <label>Area</label>
                                @Html.TextBoxFor(p => p.Area, new { @class = "form-control", placeholder = "Enter area.." })
                            </div>
                            <div class="col-sm-3 form-validation">
                                <label>Account No</label>
                                @Html.TextBoxFor(p => p.AccountNumber, new { @class = "form-control", placeholder = "Enter account number.." })
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-3 form-validation">
                                <label>IFSC/NEFT Code</label>
                                @Html.TextBoxFor(p => p.NEFTCode, new { @class = "form-control", placeholder = "Enter ifsc code.." })
                            </div>
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top:25px" onclick="return CheckForm()" value="SUBMIT" />
                                <span class="btn btn-success form-control tempscss hidden" style="margin-top:25px">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                        </div>
                    </div>                    
                }
            </div>
            <div class="wrapper">
                <table class="table" data-toggle="table">
                    <thead style="color: #131313;background: #ececec;">
                        <tr>
                            <th>Bank Name</th>
                            <th>Branch Name</th>
                            <th>Area</th>
                            <th>Account Number</th>
                            <th>NEFT Code</th>
                            <th>CreatedDate</th>
                            <th>Action</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Totalcount > 0)
                        {
                            foreach (var item in Model.Banklist)
                            {
                                <tr>                                  
                                    <td>@item.BankName</td>
                                    <td>@item.BranchName</td>
                                    <td>@item.Area</td>
                                    <td>@item.AccountNumber</td>
                                    <td>@item.NEFTCode</td>
                                    <td>@item.CreatedDate</td>
                                    <td>
                                        <a data-fancybox-type="iframe" data-toggle="tooltip" title="Update" data-fancybox-href="/upload/edit-bank?counter=@item.Counter&bankname=@item.BankName&branchname=@item.BranchName&area=@item.Area&neftcode=@item.NEFTCode&accno=@item.AccountNumber" class="btn btn-success btn-sm popupclassreload anchorlinkred"><span class="fa fa-edit" style="color:#fff!important"></span></a>
                                        <a href="/upload/delete-bank?counter=@item.Counter" data-toggle="tooltip" title="Delete" onclick="javascript: return DeleteConfirm();" class="btn btn-danger btn-sm"><span class="fa fa-remove"></span></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/fancybox/fancyboxpopupopen.js"></script>

    <script>
        function DeleteConfirm() {
            return confirm('Are you sure, you want to delete the bank ?');
        }
        function CheckForm() {
            if (CheckBlankValidation('BankName')) return !1;
            if (CheckBlankValidation('BranchName')) return !1;            
            if (CheckBlankValidation('Area')) return !1;
            if (CheckBlankValidation('AccountNumber')) return !1;
            if (CheckBlankValidation('NEFTCode')) return !1;
            $('.maincss').addClass('hidden');
            $('.tempscss').removeClass('hidden');
        }
    </script>
}



