﻿@model ModelLibrary.WalletModel.UploadModel
@{
    ViewBag.Title = "CashInFlow";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    .wrapper {
        position: relative;
        overflow: auto;
        border: 1px solid black;
        white-space: nowrap;
    }

    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: #ececec;
    }

    .first-col {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
        left: 0px;
    }
</style>
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>
                        <i class="fa fa-list"></i>&nbsp;CashInFlow Report Report List
                    </h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-sm-12 form-group" style="border: 1px solid #ccc;padding: 6px;background-color: #ececec;">
                @using (Html.BeginForm())
                {
                    <div class="row form-group">
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-3">
                                <label>From</label>
                                @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>To</label>
                                @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyy" })
                            </div>
                            <div class="col-sm-3">
                                <label>Upload Type</label>
                                @Html.DropDownListFor(model => model.UploadType, new SelectList(new List<Object>{
                                         new { value = "" , text = "--Select--" },
                                        new { value = "CA" , text = "Cash" },
                                        new { value = "CR" , text = "Credit"},
                                          new { value = "CC" , text = "Card"},
                                     }, "value", "text"), new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3">
                                <label>Flow Type</label>
                                @Html.DropDownListFor(model => model.flowType, new SelectList(new List<Object>{                                         
                                        new { value = "InFlow" , text = "InFlow" },
                                        new { value = "OutFlow" , text = "OutFlow"},
                                     }, "value", "text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-success form-control maincss" style="cursor:pointer;margin-top:24px;" onclick="return CheckForm()" value="SEARCH RESULT" />
                                <span class="btn btn-success form-control tempscss hidden" style="margin-top:24px;">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-dark form-control" style="cursor:pointer; margin-top:24px;"><span class="fa fa-file-excel-o"></span> EXPORT</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table" data-toggle="table">
                    <thead style="color: #131313;background: #ececec;">
                        <tr>
                            <th>INVOICE NO.</th>
                            <th>AGENT ID</th>
                            <th>AGENCY NAME </th>
                            <th>AMOUNT</th>
                            <th>UPLOAD TYPE</th>
                            <th>REMARK</th>
                            <th>UPDATED REMARK</th>
                            <th>CREATED DATE </th>
                            <th>SALESEXECID</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        @if (Model.Totalcount > 0)
                        {
                            foreach (var item in Model.UploadDetialsList)
                            {
                                <tr>
                                    <td>@item.InvoiceNo</td>
                                    <td>@item.AgencyID</td>
                                    <td>@item.AgencyName</td>
                                    <td>@item.Amount</td>
                                    <td>@item.UploadType</td>
                                    <td>@item.Remark</td>
                                    <td>@item.UpdatedRemark</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.SalesExecID</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/loginpage/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>

