﻿@model ModelLibrary.WalletModel.BankModel
@{
    ViewBag.Title = "EditBank";
    Layout = "~/Views/Shared/_PopupLayoutPage.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container" style="background:#fff;">
        <div class="row">
            @if (TempData["Message"] != null)
            {
                <div class="col-md-12" style="margin-top: 5px;padding: 20px;">
                    <div class="alert alert-success" id="closeMessage">

                        <span>@TempData["Message"]</span>
                    </div>
                </div>
            }
            else
            {
        <div class="col-sm-12 form-group" style="padding: 15px;">
            <div class="col-sm-6 form-group">
                <label>Bank Name</label>
                @Html.TextBoxFor(p => p.BankName, new { @class = "form-control", placeholder = "Enter bank name.." })
            </div>
            <div class="col-sm-6 form-group">
                <label>Branch Name</label>
                @Html.TextBoxFor(p => p.BranchName, new { @class = "form-control", placeholder = "Enter branch name.." })
            </div>
            <div class="col-sm-6 form-group">
                <label>Area</label>
                @Html.TextBoxFor(p => p.Area, new { @class = "form-control", placeholder = "Enter area.." })
            </div>
            <div class="col-sm-6 form-group">
                <label>Account No</label>
                @Html.TextBoxFor(p => p.AccountNumber, new { @class = "form-control", placeholder = "Enter account number.." })
            </div>
            <div class="col-sm-6 form-group">
                <label>IFSC/NEFT Code</label>
                @Html.TextBoxFor(p => p.NEFTCode, new { @class = "form-control", placeholder = "Enter ifsc code.." })
            </div>
            <div class="col-sm-6 form-group">
                <input type="submit" class="btn btn-success pull-left" style="margin-top:27px;" />
            </div>
            <div class="col-sm-12 form-group">
                @Html.HiddenFor(p => p.Counter)
            </div>


        </div>
            }
        </div>
    </div>
}
