﻿@model ModelLibrary.WalletModel.UploadRequest

@{
    ViewBag.Title = "UploadRequest";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header
{
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                <i class="fa fa-google-wallet fa-lg"></i>&nbsp;Upload Request
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm())
            {

                <br />
                if (Model.IsShowReqType)
                {
                    <div class="form-horizontal form-label-left uploaderequesttypesection" id="UploadeRequestType">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h4>
                                    Uploade Request Type :
                                    @Html.RadioButtonFor(m => m.UploadeRequestType, "CA", new { @checked = true }) &nbsp;Fresh Upload&nbsp;
                                    @Html.RadioButtonFor(m => m.UploadeRequestType, "AD") &nbsp;Adjustment
                                </h4>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                    </div>
                }
                <div class="col-md-12">
                    @if (TempData["Msg"] != null)
                    {
                        <div class="alert alert-success" id="closeMessage">

                            <span>@TempData["Msg"]</span>
                        </div>
                    }
                </div>
                <div class="form-horizontal form-label-left">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Amount</label>
                                    @Html.TextBoxFor(p => p.Amount, new { @class = "form-control ", placeholder = "Amount", @onkeypress = "return isNumberValidationPrevent(event);" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Payment Mode</label>
                                    @Html.DropDownListFor(model => model.PaymentMode, new SelectList(new List<Object>{
                                        new { value = "0" , text = "Select Payment Mode" },
                                        new { value = "Cash" , text = "Cash" },
                                        new { value = "Cash Deposite In Bank" , text = "Cash Deposite In Bank"},
                                        new { value = "Cheque" , text = "Cheque"},
                                        new { value = "NetBanking" , text = "NetBanking"},
                                        new { value = "RTGS" , text = "RTGS"}
                                     }, "value", "text"), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2 hidden chequeselectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Cheque Date</label>
                                    @Html.TextBoxFor(p => p.ChequeDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyyy" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden chequeselectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Cheque Number</label>
                                    @Html.TextBoxFor(p => p.ChequeNumber, new { @class = "form-control", placeholder = "Cheque Number" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden chequeselectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Bank Name</label>
                                    @Html.TextBoxFor(p => p.BankName, new { @class = "form-control", placeholder = "Bank Name" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 hidden cashdepinbankselectsection chequeselectsection netbankingselectsection rtgsselectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Deposite Bank</label>
                                    @Html.DropDownListFor(m => m.DepositeBank, Model.DepositeBankList, "Select Deposite Bank", new { @class = "form-control " })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 hidden dropdepositebank_cashdepinbank_selectsection dropdepositebank_cheque_selectsection dropdepositebank_netbanking_selectsection dropdepositebank_rtgs_selectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Deposite Branch</label>
                                    @Html.DropDownListFor(m => m.DepositeBranch, Model.DepositeBranchList, "Select Deposite Branch", new { @class = "form-control " })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 hidden dropdepositebank_cashdepinbank_selectsection dropdepositebank_cheque_selectsection dropdepositebank_netbanking_selectsection dropdepositebank_rtgs_selectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Deposite A/C No.</label>
                                    @Html.DropDownListFor(m => m.DepositeAccountNo, Model.DepositeAccountNoList, "Select Deposite A/C No.", new { @class = "form-control " })
                                </div>
                            </div>
                        </div>
                        @*<div class="col-sm-2">
                                <div class="item form-group">
                                    <div class="form-group row">
                                        <label>Bank Area Code</label>
                                        @Html.TextBoxFor(p => p.BankAreaCode, new { @class = "form-control", placeholder = "Bank Area Code" })
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-sm-2 hidden dropdepositebank_netbanking_selectsection dropdepositebank_rtgs_selectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Transaction ID</label>
                                    @Html.TextBoxFor(p => p.TransactionID, new { @class = "form-control", placeholder = "Transaction ID" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden dropdepositebank_cashdepinbank_selectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Branch Code</label>
                                    @Html.TextBoxFor(p => p.BranchCode, new { @class = "form-control", placeholder = "Branch Code" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden cashselectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Deposit City</label>
                                    @Html.TextBoxFor(p => p.DepositCity, new { @class = "form-control", placeholder = "Deposit City" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden cashselectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Deposit Date</label>
                                    @Html.TextBoxFor(p => p.DepositDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyyy" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 hidden cashselectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Deposite Office</label>
                                    @Html.DropDownListFor(m => m.DepositeOffice, Model.DepositeOfficeList, "Select Deposite Office", new { @class = "form-control " })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden cashselectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Concern Person</label>
                                    @Html.TextBoxFor(p => p.ConcernPerson, new { @class = "form-control", placeholder = "Concern Person" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden cashselectsection">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Receipt No.</label>
                                    @Html.TextBoxFor(p => p.ReceiptNumber, new { @class = "form-control", placeholder = "Receipt No." })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Reference No.</label>
                                    @Html.TextBoxFor(p => p.ReferenceNumber, new { @class = "form-control", placeholder = "Reference No." })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="item form-group">
                                <div class="form-group row form-validation">
                                    <label>Remark</label>
                                    @Html.TextBoxFor(p => p.Remark, new { @class = "form-control", placeholder = "Remark" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 offset-md-3">
                            <input type="submit" class="btn btn-success pull-right  maincss" style="cursor:pointer;margin-top:25px" id="btnUploadRequest" onclick="return UploadRequestSubmit();" value="SUBMIT" />
                            <span class="btn btn-success pull-right tempscss hidden" style="margin-top:25px">PLEASE WAIT..<i class="fa fa-spinner fa-spin"></i></span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section footer
{
    <script src="~/Content/js/loginpage/DatePicker.js"></script>
    <script src="~/Content/js/custom/uploadrequest.js"></script>
}